.meal-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    min-width: 350px;
    max-width: 350px;
    min-height: 600px;
    background-color: #1d1a16;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}

.meal-container * {
    margin: 0px;
}

.meal-imagen {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.meal-name {
    font-size: 2rem;
    color: #ffc404;
}

.meal-price {
    font-weight: bold;
    color: #1d1a16;
    padding: 2px 10px;
    background-color: #ffc404;
    border-radius: .2rem;
}

.meal-description {
    padding: 0px 5px;
    text-align: center;
}

.meal-button {
    padding: 5px;
    margin-bottom: 10px;
}