.form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    background-color: rgb(54, 54, 54);
    padding: 1rem;
    color: white;
}

.form-container p {
    text-align: center;
}

.ok-seccessful{
    margin-top: 2rem;
    align-self: center;
    width: 20%;
}

.item-address {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: start;
    flex-wrap: nowrap;
}

.item-actions {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-end;
    flex-wrap: nowrap;
    margin: 1rem 0;
}
