.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 3rem; */
    padding: 3rem 10%;
    color: #ffc404;
}

.app-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
}

.app-cart {
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px; */
}

.app-info img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid #ffc404;
}